<div class="form-group">
    {{ label }}
    {{ errors }}
    <select {{ id }} class="form-control {{ classes }}" {{ name }} {{ required }} {{ attributes }}>
        {{ options }}
    </select>
</div>